<%- layout('./layout/boilerplate.ejs') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- Blog Image -->
                <div class="blog-image mb-4 position-relative">
                    <!-- Blog Header -->
                    <div class="blog-header position-absolute bg-light-500">
                        <p class="display-4 border-bottom border-black h1 title">
                            <%= data.title %>
                        </p>
                        <p class="lead m-0 author">by <a href="#"><%= data.author.username %></a> | <%= formateDate(data.blogDate) %>
                        </p>
                    </div>
                    <% if (data.image) { %>
                        <img src="<%= data.image.path %>"
                        class="img-fluid w-100" alt="Blog Image" style="aspect-ratio: 3/1; object-fit: cover;">
                    <% } %>
                    
                </div>
                <!-- Blog Content -->
                <div class="blog-content">
                    <div id="blog"></div>
                    <!-- Add more paragraphs as needed -->
                </div>
                <!-- Comments Section -->
                <div class="comments-section mt-2 border-top border-primary mt-4 pt-3">
                    <h3>Comments</h3>
                    <form class="mb-4" action="/blog/<%=data.id%>/comment" method="post">
                        <textarea class="form-control" rows="3" placeholder="Add a comment..."
                            name="content"></textarea>
                        <button class="btn btn-primary mt-2">Submit</button>
                    </form>
                    <!-- Example Comment -->
                    <div class="comment ">
                        <% data.comments.forEach(ele=> { %>
                            <div class="mb-4 border px-4 py-2 rounded">
                                <p class="my-0">
                                    <strong>Author : </strong>
                                    <%= ele.content %>
                                </p>
                                <div class="d-flex justify-content-start align-items-center " style="gap: 20px;">
                                    <form action="/blog/<%= data.id %>/comment/<%= ele.id %>?_method=DELETE" method="post"><button class=" btn text-secondary">Delete</button></form> | <button
                                        type="button" class="btn text-secondary modelButton" data-bs-toggle="modal"  data-id="<%= ele.id %>"
                                        data-bs-target="#exampleModal">Reply</button>
                                </div>
                                <% if ((ele.replies.length)!==0) { %>
                                    <%ele.replies.forEach(reply => { %>
                                        <div class="ms-5 ">
                                            <p class="my-0">
                                                <strong>Author : </strong>
                                                <%= reply.content %>
                                            </p>
                                            <div class="d-flex justify-content-start align-items-center " style="gap: 20px;">
                                                <form action="/blog/<%= data.id %>/comment/<%= ele.id %>/replies/<%=reply.id%>?_method=DELETE" method="post"><button class=" btn text-secondary">Delete</button></form> 
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>
                    <!-- Button trigger modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Reply</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body px-3">
                                    <form class="mb-4 replyForm" action="" method="post">
                                        <textarea class="form-control" rows="3" placeholder="Add a comment..."
                                            name="content"></textarea>
                                        <button class="btn btn-primary mt-2 w-100">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let url ="";
        const form = document.querySelector(".replyForm")

        document.querySelector('#blog').innerHTML = <%- JSON.stringify(data.content) %>

        
        document.querySelector('.modelButton').addEventListener('click',function(){
            const id = this.getAttribute('data-id');
            url = `/blog/<%-data.id%>/comment/${id}/replies`;
            form.action=url;
        })
    </script>